.nav{
    height:40px;
    background-color: rgb(35,47,61);
    padding:3px 0px;
    /* padding: 2px ; */
    overflow: hidden;

}

/*  */

  
  /*  */
.containernav{
    align-items: center;
    justify-content: center;
    /* color: aqua; */
    /* padding-top: 9px; */
    padding-left: 20px;
    
}
.containernav ul{
    padding: 0;
    margin:0;
    display: flex;
    align-items: center;
    height: 100%;
    /* background-color: red; */
    font-size: 1rem;
    color: white;
    list-style: none;
} 
@media (min-width:0px) and (max-width:800px){
    .nav{
        height: auto;
    }
    .containernav ul{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin:5px 0px;
    }
    .containernav ul li:nth-child(6){
        display: none;
    }
    .containernav ul li:nth-child(7){
        display: none;
    }
    .containernav ul li:nth-child(8){
        display: none;
    }
    .containernav ul li:nth-child(9){
        display: none;
    }
    .containernav ul li:nth-child(5){
        display: none;
    }

}
.containernav ul li a{
   color: white;
   text-decoration: none;
   padding: 0px 3px;
    
   

}
.borderwhite{
    margin:2px 10px;
}
.borderwhite:hover{
    border: 1px solid white;
    
    
}
.primeimage{
    background-color: rgb(248, 249, 249);
    height: auto;
    width: 200px;
    position: absolute;
    z-index: 10;
    display: none;
    margin-left: 73px;
    margin-top: -20px;
    padding: 5px;

   
}
.primeimagehover:hover .primeimage{
    transition: display 1s;
    display: block;
    margin-bottom: 200px;

}

.primeimage1{
    background-color: rgb(10, 10, 10);
    height: auto;
    width: 200px;
    position: absolute;
    z-index: 10;
    display: none;
    margin-left: 0px;
    margin-top: 1px;
    padding: 5px;

   
}

.primeimage1 div{
    padding: 10px 0px;
}
.primeimagehover1:hover .primeimage1{
    transition: display 3s;
    display: block;
    margin-bottom: 200px;

}

/* sidebar */

.sidebarcontainernavigation{
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    
   
    /* transform: translateX(-100%); */
}
.sidebarshow{
    position: fixed;
    top:0;
    bottom: 0;
    right:0;
    left:0;
    
    background: rgb(255,255,255);
    
    z-index: 200;
    width:275px;
    height:100%;
    opacity: initial;
    display: flex;
    align-items: start;

    /* transform: translateX(-100%); */

}
.sidebarshow button{
    background-color: rgb(146, 150, 150);
    margin-left: 10px;
    margin-top: 20px;
    border: none;
    cursor: pointer;

}

/*  */
.cont123{
    display: none;
   
}

.open123{
  display: block;
   position: fixed;
   top: 0em;

   bottom: 0;
   right: 0;
   left:0;
   z-index: 100;
   /* width:500px; */
   background-color:rgb(48,49,50);
   opacity: 0.9;
  

}
.sidebartop{
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 5px;
    padding-left: 30px;
    background-color: rgb(19, 25, 33);
    color: aliceblue;
    width:240px;
    
   

}

.sidebartop h2{
    font-size: 22px;
    margin: 0;

}
.sidebartop .i{
    padding-right:10px;
    font-size: 25px;
}
.sidebaritem{
    padding-left: 30px;
    border-top: 1.5px solid rgb(71, 68, 68);
    padding: 20px;

}
.sidebaritem h2{
    border-bottom: 0px solid black;
    font-size: 20px;
    margin: 8px 0px;
}
.sidebaritem p{
    border-bottom: 0px solid black;
    color:rgb(0, 0, 0);
    font-size: large;
    
}










